.headers{
    background-color: white;
}

.navbar-brand{
    font-size: 23px;
}

nav a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    font-size: 30px;
}

.nav-link{
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.typing h1{
    animation: type 5s steps(15);
    animation-delay: 0, 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid black;
    width: 15ch;
    font-size: 50px;
}
@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 10ch;
    }
}

.typing2 h1{
    animation: type 5s steps(18);
    animation-delay: 0, 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid black;
    width: 15ch;
    font-size: 50px;
}
@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 12ch;
    }
}



.typing3 h1{
    animation: type3 5s steps(28);
    animation-delay: 0, 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid black;
    margin-top: 30px;
}
@keyframes type3 {
    0% {
        width: 0ch;
    }
    100% {
        width: 21ch;
    }
}


@media (max-width: 679px) {
    .secondintro .row{
        display: flex;
        flex-direction: row-reverse;
    }
}


.mt-20{
    margin-top: 20px;
}

.mb-100{
    margin-bottom: 100px;
}

.p-10{
    padding: 10px;
}

.mainintro{
    margin-top:40px
}

.typing{
    margin-bottom:30px;
}

.headshotimg{
    width:100%;
}

.projimage{
    width: 100%;
}

.imagelink .projimage:hover{
    opacity: .3;
}

.pinterest{
    display: block !important;
}

.errorHandler{
    padding: 50px;
}

.linkButton{
    margin: 10px;
}